.btn {
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  background-color: #221f17;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;

  &:hover {
    background-color: #d2691e;
  }
}
